langchain==latest
langchain_community
PyPDF2==latest
python-dotenv==latest
streamlit==latest
openai==latest
faiss-cpu
altair==latest
tiktoken
# uncomment to use huggingface llms
#huggingface-hub==latest

# uncomment to use instructor embeddings
#InstructorEmbedding==latest
#sentence-transformers==latest
